@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Tahoma, Verdana, sans-serif !default;
$new-font-family: $base-font-family;

$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$large-font-size: 24px !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     30px !default;

//$text-color:       #FFFF!default;
//$background-color: #191B1C !default;
//$brand-color-old:      #40B983!default;
//$grey-color:       #828282 !default;

$text-color:       #000000!default;
$background-color: #D4C4AD !default;
$brand-color-old:      #757a89!default;
$grey-color:       #3B6C93 !default;
$turquoise: #353979 !default;


$brand-color: #095c82;
$brand-opposite-color: #823109;


$footer-text: #2469de; 
$footer-text-light: lighten($footer-text, 10%) !default;
$footer-text-dark: darken($footer-text, 20%) !default;

$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$background-color-darker: darken($background-color, 15%) !default;
$background-color-dark: darken($background-color, 7%) !default;
$background-color-darklight: darken($background-color, 5%) !default;
$background-color-light: lighten($background-color, 5%) !default;

$darkest-background-color: darken($background-color, 20%);
$darkest-brand-color-light: darken($brand-color-old, 20%);
$darkest-background-color-darklight: darken($background-color-darklight, 20%);
$darkest-background-color-light: darken($background-color-light, 20%);
$darkest-background-color-darklight: darken($background-color-darklight, 20%);
$darkest-background-color: darken($darkest-background-color, 20%);


$light-background: darken(white, 15%);


$text-color-dark: darken($text-color, 25%) !default;
$text-color-light: lighten($text-color, 25%) !default;
$brand-color-old-light: lighten($brand-color-old, 25%) !default;

$brand-color-old-dark:  darken($brand-color-old, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
